<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alta</servlet-name>
        <servlet-class>Medicos.AltaMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPaciente</servlet-name>
        <servlet-class>Pacientes.AltaPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaMedico</servlet-name>
        <servlet-class>Medicos.BajaMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaPaciente</servlet-name>
        <servlet-class>Pacientes.BajaPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiosMedicos</servlet-name>
        <servlet-class>Medicos.CambiosMedicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiosPaciente</servlet-name>
        <servlet-class>Pacientes.CambiosPaciente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alta</servlet-name>
        <url-pattern>/Alta_Medico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPaciente</servlet-name>
        <url-pattern>/AltaPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaMedico</servlet-name>
        <url-pattern>/BajaMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaPaciente</servlet-name>
        <url-pattern>/BajaPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiosMedicos</servlet-name>
        <url-pattern>/CambiosMedicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiosPaciente</servlet-name>
        <url-pattern>/CambiosPaciente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
